<div class="container">
  <div class="header-container">
    <div class="title-center">
      <h1 class="app-content-headerText">Products</h1>
    </div>
    <div class="header-actions">
      <button class="app-content-headerButton" routerLink="/Home/AddProduit">Add Product</button>
      <input class="search-bar" placeholder="Search for products" type="text" aria-label="Search for products">
    </div>  
    <div class="app-content-actions-wrapper">
      <div class="filter-button-wrapper">
        <button class="action-button filter jsFilter">
          <span>Filter</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter">
            <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"/>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="products-area-wrapper tableView">
    <div class="products-header">
      <div class="product-cell category">Libelle</div>
      <div class="product-cell status-cell">Prix</div>
      <div class="product-cell sales">Quantite de stock</div>

    </div>

    <div >
      <div class="products-row" *ngFor="let product of products">

        <div class="product-cell category">{{ product.libelle }}</div>
 
        <div class="product-cell sales">{{ product.prix }}</div>
        <div class="product-cell stock">{{ product.qteStock }}</div>
      </div>
    </div>

  </div>
</div>
